<div class="template-container">

  <h1 class="mat-h1">Countries</h1>


  <div class="action-container">

    <div class="filter-container">
      <mat-form-field>
        <input matInput placeholder="Search" #filterInput>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button class="add-button" mat-fab color="primary" aria-label="Example icon button with a delete icon" [routerLink]="'add'">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

  <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort>

    <!-- Alpha 3 Code Column -->
    <ng-container matColumnDef="alpha3Code">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Alpha 3 code</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.alpha3Code}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- Numeric Code Column -->
    <ng-container matColumnDef="numericCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Numeric code</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let row">{{row.numericCode}}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary"  title="delete"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary"  title="Edit"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [length]="dataSource?.countriesCountSubject | async"
                 [pageSize]="dataSource?.pageSizeSubject | async"
                 [pageSizeOptions]="[5, 10, 15]">

  </mat-paginator>

</div>
